/* ExpedientesSearchBar.css */
.SearchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.SearchBar input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.SearchBar button {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SearchBar button:hover {
  background-color: #1976d2;
}
